{% extends 'base.html' %}
{% load static %}
{% block content %}	
{% load crispy_forms_tags %}

	<a id='backTop'>Back To Top</a>
	<!-- /Back To Top -->
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="archives-page">
		<div class="container">
			<div class="row">
				<div id="main-content">
					<article class="box-shadow">
						<div class="row">
							<div class="col-md-8">
                                <h3> Are you sure you want to delete the following: </h3>
                                <h1>{{blog.title}}</h1>
								<div class="form-group">
								<form method='POST' action='.'> {% csrf_token %}
										<button type="submit" class="btn btn-danger btn-block">Yes Delete</button>
									</form> 
								</div>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
		
    </div>
{% endblock %}

