{% extends 'base.html' %}
{% load static %}
{% block content %}
	<a id='backTop'>Back To Top</a>
	<!-- /Back To Top -->
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="service-page">
		<div class="container">
			<div id="main-content">
				<div class="row">
					<div class="col-md-4">
						<article class="box-shadow text-center">
							<div class="art-header">	
								<div class="zoom-container">
									<img class="example-image" src="{% static 'images/10.jpg' %}" alt=""/>
								</div>
							</div>
							<div class="art-content">
								<h3>{{donor.name}}</h3>
								<h5>{{donor.blood_group}}</h5>
								<div class="text-left">
								Department: {{donor.department|truncatewords:2}} <br>
								Address: {{donor.address}} <br>
								Contact no: {{donor.contact_no}} <br>
								</div>
								{% if request.user.is_authenticated %}
								<a class="btn btn-lg btn-2 box-shadow" href="{{ donor.get_edit_url }}">Edit</a>
								<a class="btn btn-lg btn-2 box-shadow" href="{{ donor.get_delete_url }}">Delete</a>
								<a class="btn btn-lg btn-2 box-shadow" href="/blood-new/">Be a donor</a>
								{% endif %}
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}