{% extends 'base.html' %}
{% load static %}
{% block content %}
	
	
	<a id='backTop'>Back To Top</a>
	<!-- /Back To Top -->
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="archives-page">
		<div class="container">
			<div class="row">
				<div id="main-content">
					<article class="box-shadow">
						<div class="art-header">
							<a href="#"><h1>About us</h1></a>
						<div class="art-content">
							<img src="{% static 'images/7.jpg' %}" />
							<p>add about us here</p>
						</div>
					</article>
				</div>
			</div>
		</div>
		
	</div>
{% endblock %}

